.App {
  text-align: center;
}

.App-header {
  background-color: #16D9AB;
  height: 120px;
  padding: 30px;
  color: white;
  text-shadow: 2px 2px black;
  margin-bottom: 20px;
}

.App-title {
  font-size: 3em;
}

.App-button {
  background-color:#16D9AB;
  color: white;
}

.App-intro {
  font-size: large;
}

.Container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Container-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}